body {
  padding: 0;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
  font-size: 100%;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  min-width: 350px;
  height: 100%;
  position: fixed;
  background-color: #faf1f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.player-container {
  width: 230px;
  height: 65px;
  border-radius: 10px;
  background-color: #fffeff;
  display: flex;
  position: absolute;
  box-shadow: 0 20px 20px #bf9dac;
  padding: 15px 0 0 120px;
}
.player-container .disc {
  width: 75px;
  height: 75px;
  position: relative;
  top: -40px;
  left: -100px;
  border-radius: 50%;
  background-size: 100%;
  transform-origin: 0 0;
  transition: all 0.6s;
}
.player-container .disc .cd {
  width: 75px;
  height: 75px;
  position: absolute;
  border-radius: 50%;
  background-size: 100%;
  transition: all 0.3s;
  background-image: url(http://p2.music.126.net/8N1fsMRm2L5HyZccc6I3ew==/109951164007377169.jpg?param=130y130);
  animation: rotate 10s linear 0s infinite normal;
  animation-play-state: paused;
}
.player-container .disc .circle {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 20%;
  background-color: rgba(255, 254, 255, 0.9);
  border-radius: 50%;
}
.player-container .disc.advancing-disc {
  transform: scale(1.2);
}
.player-container .disc .cd.advancing-cd {
  animation-play-state: running;
}
.player-container .button {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.player-container .button .upper {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 10px;
  background-color: #fffeff;
  transition: background-color 0.5s ease;
  fill: #dbdbdb;
}
.player-container .button .upper:hover {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #e1dee2;
  cursor: pointer;
  color: white;
}
.player-container .button .upper .backward {
  width: 32px;
  margin: 9px;
  transition: fill 0.5s ease;
}
.player-container .button .upper:hover .backward {
  fill: white;
}
.player-container .button .lower {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 10px;
  background-color: #fffeff;
  transition: background-color 0.5s ease;
  fill: #dbdbdb;
}
.player-container .button .lower:hover {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #e1dee2;
  cursor: pointer;
}
.player-container .button .lower .forward {
  width: 32px;
  margin: 9px;
  transition: fill 0.5s ease;
}
.player-container .button .lower:hover .forward {
  fill: white;
}
.player-container .button .icon {
  width: 50px;
  height: 50px;
  position: relative;
  margin-left: 12px;
  border-radius: 10px;
  background-color: #fffeff;
  transition: background-color 0.5s ease;
  fill: #dbdbdb;
  opacity: 1;
}
.player-container .button .icon.disappearing {
  opacity: 0;
  display: none;
  transition: all 2s;
}
.player-container .button .icon:hover {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #e1dee2;
  cursor: pointer;
}
.player-container .button .icon .play {
  width: 32px;
  margin: 9px;
  transition: fill 0.5s ease;
}
.player-container .button .icon:hover .play {
  fill: white;
}
.player-container .button .menu {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 10px;
  background-color: #fffeff;
  transition: background-color 0.5s ease;
  fill: #dbdbdb;
  opacity: 0;
  display: none;
}
.player-container .button .menu.appearing {
  transform: translateX(5px);
  opacity: 1;
  transition: all 2s;
  display: block;
}
.player-container .button .menu:hover {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #e1dee2;
  cursor: pointer;
}
.player-container .button .menu .stop {
  width: 32px;
  margin: 9px;
  transition: fill 0.2s ease;
}
.player-container .button .menu:hover .stop {
  fill: white;
}
.song-container {
  width: 230px;
  height: 80px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(252, 248, 251, 0.8);
  position: relative;
  overflow: hidden;
  transition: all 1s;
  padding-left: 100px;
}
.song-container.advancing-song {
  transform: translateY(-80px);
}
.song-container .name {
  margin-top: 7px;
  font-size: 15px;
  color: #515259;
}
.song-container .singer {
  margin-top: 7px;
  color: #c5c4c9;
  font-size: 10px;
}
.song-container .progress {
  margin-top: 7px;
  width: 90%;
  height: 6px;
  border-radius: 7px;
  background: #fffeff;
  cursor: pointer;
}
.song-container .progress .loader {
  height: 100%;
  /*进度条长度*/
  width: 0%;
  background: #e387a8;
  border-radius: 7px;
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.2);
  animation: loader 1s linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
